<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>HOME</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<h1>一覧</h1>
		<ul>
			<li><span style="color: red">/sample</span><br>DBの内容をコンソールに表示する<br>クライアント側でgachaIdを指定する　<span style="color: red; font-weight: bold">←イマココ！</span><br>Angularの勉強する<br>Angularを用いてset/getセレクタを変数で作ってHTMLに表示する</li>
			<li>/sample/data<br>DBの表示済</li>
		</ul>
	</body>
</html>