<div class="search">
    <div class="search_engine">
        <div class="col-sm-2 col-xs-0"></div>
        <div class="col-sm-2 col-xs-6">ガチャID</div>
        <div class="col-sm-4 col-xs-6">
        
<!-- ■■■■■■■■　今回はガチャID10186で検索した程で　■■■■■■■■ -->
        <!-- ここで入力して -->
        <form>
            <input id="gachaId" name="gachaId" type="text" />
        </form>

        </div>
        <div class="col-sm-2 col-xs-12 search_submit">
        送信
        </div>
        <div class="col-sm-2 col-xs-0"></div>
    </div>
    <div class="search_result">
        <div class="search_result_title">
        <h3>検索結果</h3>
        </div>      
    </div>

    <!-- ここに検索結果を表示させる -->
    <ul class="search_result_list">
        <!-- ”ガチャID：10186”の、m_gacha_countryテーブルにあるgacha_idカラムを表示させる  -->
        <li><div class="result_menu col-sm-2 col-xs-12">ガチャID</div><div class="result_content col-sm-10 col-xs-12">{{gachaId}}</div></li>
        <!-- ”ガチャID：10186”の、m_gacha_countryテーブルにあるgacha_titleカラムを表示させる  -->
        <li><div class="result_menu col-sm-2 col-xs-12">タイトル</div><div class="result_content col-sm-10 col-xs-12">{{gachaTitle}}</div></li>
        <!-- ”ガチャID：10186”の、m_gachaテーブルにあるsale_start_dateカラムを表示させる  -->
        <li><div class="result_menu col-sm-2 col-xs-12">開始時間</div><div class="result_content col-sm-10 col-xs-12">{{salesStartDate}}</div></li>
        <!-- ”ガチャID：10186”の、m_gachaテーブルにあるsale_end_dateカラムを表示させる  -->
        <li><div class="result_menu col-sm-2 col-xs-12">終了時間</div><div class="result_content col-sm-10 col-xs-12">{{salesEndDate}}</div></li>
        <!-- ”ガチャID：10186”の、m_gacha_countryテーブルにあるbanner_image_urlカラムを表示させる  -->
        <li><div class="result_menu col-sm-2 col-xs-12">バナー画像</div><div class="result_content col-sm-10 col-xs-12">{{bannerImageUrl}}</div></li>
        <!-- ”ガチャID：10186”の、t_sales_countテーブルにあるcount_valカラムを表示させる  -->
        <li><div class="result_menu col-sm-2 col-xs-12">回転数</div><div class="result_content col-sm-10 col-xs-12">検索結果を表示</div></li>
    </ul>

</div>
