<div class="title" id="capture">
    <h1>CaptureEvent Analysis Searcher</h1>
</div>
<div class="search_engine">
    <div class="gachaId serch_form">
        <div class="col-sm-1 col-xs-0"></div>
        <div class="col-sm-2 col-xs-6 search_form_title">イベントID(前半)</div>
        <div class="col-sm-4 col-xs-6">
            <select class="select_form" id="inputCaptureEventId select_form_capture" name="inputCaptureEventId" type="text" [(ngModel)]="inputCaptureEventId" onchange="selectChangeCapture();">
                <option value="193">193 (17/12/30 ~ 18/01/10)</option>
                <option value="199">199 (18/01/31 ~ 18/02/09)</option>
                <option value="206">206 (18/02/28 ~ 18/03/09)</option>
                <option value="213">213 (18/03/31 ~ 18/04/09)</option>
                <option value="220">220 (18/04/30 ~ 18/05/10)</option>
                <option value="227">227 (18/05/31 ~ 18/06/08)</option>
                <option value="237">237 (18/06/30 ~ 18/07/10)</option>
                <option value="243">243 (18/07/31 ~ 18/08/10)</option>
                <option value="250">250 (18/08/31 ~ 18/09/09)</option>
                <option value="258">258 (18/09/30 ~ 18/10/10)</option>
            </select>
        </div>
        <div class="col-sm-5 col-xs-0"></div>
    </div>
    <div class="col-sm-12 col-xs-12"></div>
    <div class="col-sm-2 col-xs-2 search_submit" style="display: none;" id="submit_button_capture">
        <input id="button sumit_capture" type="button" (click)="OnCaptureEventButtonClick()" value="送信" onclick="submitCapture();">
    </div>
    <div class="col-sm-2 col-xs-0"></div>
</div>

<div id="search_result" class="search_result" style="display: none;" id="submit_capture">
    <div class="search_result_title">
        <h3>検索結果</h3>
    </div> 
    <div class="event_img">
        <img src="{{img_src}}">
    </div>
    <div id="data_list" class="data_list">
        <table class="table" id="csv_capture" border="1" rules="all">
            <thead>
                <tr>
                    <!-- ■■■ 概要 ■■■ -->
                    <td>イベントID</td>
                    <td class="long-td">イベント期間</td>
                    <td>開催日数</td>
                    <td>紙芝居既読</td>
                    <td>参加人数</td>
                    <td>人数差</td>
                    <td>参加率</td>
                    <td>期間UU数</td>
                    <td>ほかく数</td>
                    <td>ほかく数（日割り）</td>
                    <td>1人あたりほかく数（日割り）</td>

                    <!-- ■■■ コインキャンペーン ■■■ -->
                    <td>コインキャンペーン報酬①</td>
                    <td>コインキャンペーン当月販売数①</td>
                    <td>コインキャンペーン報酬②</td>
                    <td>コインキャンペーン当月販売数②</td>
                    <td>コインキャンペーン報酬③</td>
                    <td>コインキャンペーン当月販売数③</td>
                    <td>コインキャンペーン報酬④</td>
                    <td>コインキャンペーン当月販売数④</td>
                    <td>コインキャンペーン報酬⑤</td>
                    <td>コインキャンペーン当月販売数⑤</td>
                    <td>コインキャンペーン報酬⑥</td>
                    <td>コインキャンペーン当月販売数⑥</td>
                    <td>コインキャンペーン報酬⑦</td>
                    <td>コインキャンペーン当月販売数⑦</td>
                    <td>コインキャンペーン報酬⑧</td>
                    <td>コインキャンペーン当月販売数⑧</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{captureEventIdString}}</td>
                    <td>{{captureEventStartDate}} ~ {{captureEventEndDate}}</td>
                    <td>{{captureEventTermString}}日間</td>
                    <td>{{captureEventTutorialPlayString}}人</td>
                    <td>{{captureEventActiveUserString}}人</td>
                    <td>{{captureNonActiveUserString}}人</td><!--captureEventTutorialPlay - captureEventActiveUser-->
                    <td>{{captureActiveUserRateString}}%</td><!--captureEventActiveUser / captureEventTutorialPlay * 100 |number:0-->
                    <td>{{uuCountString}}人</td>
                    <td>{{totalCaptureCountString}}体</td>
                    <td>{{captureTermCountString}}体</td>
                    <td>{{captureDailyCountString}}体</td>
                    <td>88coin</td>
                    <td>{{coinCampaign1}}件</td>
                    <td>196coin</td>
                    <td>{{coinCampaign2}}件</td>
                    <td>500coin</td>
                    <td>{{coinCampaign3}}件</td>
                    <td>900coin</td>
                    <td>{{coinCampaign4}}件</td>
                    <td>88coin</td>
                    <td>{{coinCampaign5}}件</td>
                    <td>196coin</td>
                    <td>{{coinCampaign6}}件</td>
                    <td>500coin</td>
                    <td>{{coinCampaign7}}件</td>
                    <td>900coin</td>
                    <td>{{coinCampaign8}}件</td>
                </tr>
                <tr>
                    <td>{{nextCaptureEventIdString}}</td><!-- captureEventId + 1-->
                    <td>{{nextCaptureEventStartDate}} ~ {{nextCaptureEventEndDate}}</td>
                    <td>{{nextCaptureEventTermString}}日間</td>
                    <td>{{nextCaptureEventTutorialPlayString}}人</td>
                    <td>{{nextCaptureEventActiveUserString}}人</td>
                    <td>{{nextCaptureNonActiveUserString}}人</td><!--nextCaptureEventTutorialPlay - nextCaptureEventActiveUser-->
                    <td>{{nextCaptureActiveUserRateString}}%</td><!--nextCaptureEventActiveUser / nextCaptureEventTutorialPlay * 100 |number:0-->
                    <td>{{nextUuCountString}}人</td>
                    <td>{{nextTotalCaptureCountString}}体</td>
                    <td>{{nextCaptureTermCountString}}体</td>
                    <td>{{nextCaptureDailyCountString}}体</td>
                    <td>88coin</td>
                    <td>{{nextCoinCampaign1}}件</td>
                    <td>196coin</td>
                    <td>{{nextCoinCampaign2}}件</td>
                    <td>500coin</td>
                    <td>{{nextCoinCampaign3}}件</td>
                    <td>900coin</td>
                    <td>{{nextCoinCampaign4}}件</td>
                    <td>88coin</td>
                    <td>{{nextCoinCampaign5}}件</td>
                    <td>196coin</td>
                    <td>{{nextCoinCampaign6}}件</td>
                    <td>500coin</td>
                    <td>{{nextCoinCampaign7}}件</td>
                    <td>900coin</td>
                    <td>{{nextCoinCampaign8}}件</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="csv" id="download_capture" style="display: none;">
        <b>ほかくイベント集計書き出しはコチラ → <a id="csv_capture_download" href="#" download="capture_analysis_{{captureEventId}}.csv" onclick="handleDownloadCapture()"><img src="./app/csv.png"></a></b>
    </div>
    <div class="csv" id="loading_download_capture" style="display: block;">
        <b>ほかくイベント集計書き出し準備中 → <img src="http://icon-park.com/imagefiles/loading7_orange.gif" width="48" height="48"></b>
    </div>
</div>