<div class="title" id="clothes">
    <h1>Clothes Owners Searcher</h1>
</div>
<div class="search_engine">
    <div class="gachaId serch_form">
        <div class="col-sm-1 col-xs-6"></div>
        <div class="col-sm-2 col-xs-6 search_form_title">衣装ID</div>
        <div class="col-sm-4 col-xs-6">
            <select class="select_form" id="inputClothesId select_form_clothes" name="inputClothesId" type="text" [(ngModel)]="inputClothesId" onchange="selectChangeClothes();">
                <option>10027490</option>
                <option>10031656</option>
                <option>10048751</option>
                <option>10044118</option>
                <option>10027788</option>
            </select>
        </div>
        <div class="col-sm-5 col-xs-6"></div>
    </div>
    <div class="col-sm-12 col-xs-12"></div>
    <div class="col-sm-2 col-xs-12 search_submit" style="display: none;" id="submit_button_clothes">
        <input id="button" type="button" (click)="OnButtonClick()" value="送信" onclick="submitClothes();">
    </div>
    <div class="col-sm-2 col-xs-0"></div>
</div>
<div id="search_result" class="search_result" style="display: none;" id="submit_clothes">
    <div class="search_result_title">
        <h3>検索結果</h3>
    </div> 
    <div id="data_list" class="data_list clothes_table">
        <table class="table" id="csv_clothes" border="1" rules="all">
            <thead>
                <tr>
                    <td>所有者一覧</td>
                    <td>所有者数合計</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <!-- <input class="reset" type="button" value="検索結果をリセット" id="reset_clothes_owners" style="display: none;" onclick="reset()" /> -->
                        <ul id="list">
                            <img src="http://sozai.7gates.net/img/icon/loading/loading01_r3_c3.gif" width="20" height="20" id="loading_clothes_owners" style="display: block;">
                        </ul>
                    </td>
                    <td>{{clothesOwnersString}}人</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="csv" id="download_clothes" style="display: none;">
        <b>アイテム所有者リスト書き出しはコチラ → <a id="csv_clothes_download" href="#" download="clothes_owners_{{inputClothesId}}.csv" onclick="handleDownloadClothes()"><img src="./app/csv.png"></a></b><!-- download="clothes_owners_{{inputClothesId}}.csv" onclick="handleDownloadClothes()"-->
    </div>
    <div class="csv" id="loading_download_clothes" style="display: block;">
        <b>アイテム所有者リスト書き出し準備中 → <img src="http://icon-park.com/imagefiles/loading7_orange.gif" width="48" height="48"></b>
    </div>
</div>
    