<div class="title" id="gacha">
    <h1>Gacha Analysis Searcher</h1>
</div>
<div class="search_engine">
    <div class="gachaId serch_form">
        <div class="col-sm-1 col-xs-0"></div>
        <div class="col-sm-2 col-xs-6 search_form_title">ガチャID</div>
        <div class="col-sm-4 col-xs-6">
            <select class="select_form" id="inputId select_form_gacha" name="inputId" type="text" [(ngModel)]="inputId" onchange="selectChangeGacha();">
                <option>10722</option>
                <option>10724</option>
                <option>10726</option>
                <option>10728</option>
                <option>10730</option>
            </select>
        </div>
        <div class="col-sm-5 col-xs-0"></div>
    </div>
    <div class="col-sm-12 col-xs-12"></div>
    <div class="col-sm-2 col-xs-2 search_submit" style="display: none;" id="submit_button_gacha">
        <input id="button" type="button" (click)="onclick()" value="送信" onclick="submitGacha();">
    </div>
    <div class="col-sm-2 col-xs-0"></div>
</div>

<div id="search_result" class="search_result" style="display: none;" id="submit_gacha">
    <div class="search_result_title">
        <h3>検索結果</h3>
    </div> 
    <div class="gacha_img">
        <img src="{{img_src}}">
    </div>
    <div id="data_list" class="data_list">
        <table class="table" id="csv_gacha" border="1" rules="all">
            <thead>
                <tr>
                    <td>ガチャID</td>
                    <td>タイトル</td>
                    <td class="long-td">期間</td>
                    <td>総回転数</td>
                    <td>開始後3日間の総回転数</td>
                    <td>チケットor無料の回転数</td>
                    <td class="long-td">開始後3日間のチケットor無料の回転数</td>
                    <td>チケットのみの回転数</td>
                    <td>コインのみの回転数</td>
                    <td>チケット+無料の比率</td>
                    <td>チケットの比率</td>
                    <td>無料の比率</td>
                    <td>コインの比率</td>
                    <td>10+2</td>
                    <td>開始３日間の10+2</td>
                    <td>無料回転数</td>
                    <td>開始３日間の無料回転数</td>
                    <td>ステップ回転数</td>
                    <td>開始3日間のステップ回転数</td>
                    <td>かぶらず総交換数</td>
                    <td>かぶらず①施策</td>
                    <td>かぶらず①ID</td>
                    <td>かぶらず②施策</td>
                    <td>かぶらず②ID</td>
                    <td>かぶらず③施策</td>
                    <td>かぶらず③ID</td>
                    <td>選んで交換総交換数</td>
                    <td>交換①</td>
                    <td>選んで交換①ID</td>
                    <td>交換②</td>
                    <td>選んで交換②ID</td>
                    <td>交換③</td>
                    <td>選んで交換③ID</td>
                    <td>交換④</td>
                    <td>選んで交換④ID</td>
                    <td>交換⑤</td>
                    <td>選んで交換⑤ID</td>
                    <td>交換⑥</td>
                    <td>選んで交換⑥ID</td>
                    <td>交換⑦</td>
                    <td>選んで交換⑦ID</td>
                    <td>交換⑧</td>
                    <td>選んで交換⑧ID</td>
                    <td>交換⑨</td>
                    <td>選んで交換⑨ID</td>
                    <td>交換⑩</td>
                    <td>選んで交換⑩ID</td>
                    <td>交換⑪</td>
                    <td>選んで交換⑪ID</td>
                    <td>交換⑫</td>
                    <td>選んで交換⑫ID</td>
                    <td>交換⑬</td>
                    <td>選んで交換⑬ID</td>
                    <td>交換⑭</td>
                    <td>選んで交換⑭ID</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{gachaId}}</td>
                    <td>{{gachaTitle}}</td>
                    <td>{{salesStartDate}} ~ {{salesEndDate}}</td>
                    <td>{{totalCountString}}回</td>
                    <td>{{threeDaysCountString}}回</td>
                    <td>{{freeTotalCountString}}回</td> <!--チケットor、無料-->
                    <td>{{freeThreeDaysCountString}}回</td>
                    <td>{{onlyTicketCountString}}回</td> <!--チケットのみ--><!--freeTotalCount - allFreeTotalCount-->
                    <td>{{onlyCoinCountString}}回</td> <!--コインのみ--><!--totalCount - freeTotalCount-->
                    <td>{{freeTotalCountRateString}}%</td><!--freeTotalCount / totalCount * 100 |number:0-->
                    <td>{{onlyTicketCountRateString}}%</td><!--(freeTotalCount - allFreeTotalCount) / totalCount * 100 |number:0-->
                    <td>{{allFreeTotalCountRateString}}%</td><!--allFreeTotalCount / totalCount * 100 |number:0-->
                    <td>{{onlyCoinCountRateString}}%</td><!--(totalCount - freeTotalCount) / totalCount * 100 |number:0-->
                    <td>{{TenTwoString}}回</td>
                    <td>{{tenTwoThreeDaysCountString}}回</td>
                    <td>{{allFreeTotalCountString}}回</td> <!--無料のみ-->
                    <td>{{allFreeThreeDaysCountString}}回</td>
                    <td>{{stepCountString}}回</td>
                    <td>{{stepCountThreeDaysCountString}}回</td>
                    <td>{{totalKaburazuCountString}}回</td><!--kaburazu1Count + kaburazu2Count + kaburazu3Count-->
                    <td>{{kaburazu1CountString}}回</td>
                    <td>{{kaburazu1}}</td>
                    <td>{{kaburazu2CountString}}回</td>
                    <td>{{kaburazu2}}</td>
                    <td>{{kaburazu3CountString}}回</td>
                    <td>{{kaburazu3}}</td>
                    <td>{{totalPlayKaisuCountString}}回</td><!--playKaisu1Count + playKaisu2Count + playKaisu3Count + playKaisu4Count + playKaisu5Count + playKaisu6Count + playKaisu7Count + playKaisu8Count + playKaisu9Count + playKaisu10Count + playKaisu11Count + playKaisu12Count + playKaisu13Count + playKaisu14Count-->
                    <td>{{playKaisu1CountString}}回</td>
                    <td>{{playKaisu1}}</td>
                    <td>{{playKaisu2CountString}}回</td>
                    <td>{{playKaisu2}}</td>
                    <td>{{playKaisu3CountString}}回</td>
                    <td>{{playKaisu3}}</td>
                    <td>{{playKaisu4CountString}}回</td>
                    <td>{{playKaisu4}}</td>
                    <td>{{playKaisu5CountString}}回</td>
                    <td>{{playKaisu5}}</td>
                    <td>{{playKaisu6CountString}}回</td>
                    <td>{{playKaisu6}}</td>
                    <td>{{playKaisu7CountString}}回</td>
                    <td>{{playKaisu7}}</td>
                    <td>{{playKaisu8CountString}}回</td>
                    <td>{{playKaisu8}}</td>
                    <td>{{playKaisu9CountString}}回</td>
                    <td>{{playKaisu9}}</td>
                    <td>{{playKaisu10CountString}}回</td>
                    <td>{{playKaisu10}}</td>
                    <td>{{playKaisu11CountString}}回</td>
                    <td>{{playKaisu11}}</td>
                    <td>{{playKaisu12CountString}}回</td>
                    <td>{{playKaisu12}}</td>
                    <td>{{playKaisu13CountString}}回</td>
                    <td>{{playKaisu13}}</td>
                    <td>{{playKaisu14CountString}}回</td>
                    <td>{{playKaisu14}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  class="csv" id="download_gacha" style="display: none;">
        <b>ガチャ集計書き出しはコチラ → <a id="csv_gacha_download" href="#" download="gacha_analysis_{{gachaId}}.csv" onclick="handleDownloadGacha()"><img src="./app/csv.png"></a></b>
    </div>
    <div  class="csv" id="loading_download_gacha" style="display: block;">
        <b>ガチャ集計書き出し準備中 → <img src="http://icon-park.com/imagefiles/loading7_orange.gif" width="48" height="48"></b>
    </div>
</div>